<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DigabiBaseUrl" value="http://ci.ylioppilastutkinto-offline.fi/path/to/images/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DigabiFolder" value="YtlDigabiTest" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProductName" value="AbittiUSB.TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
