<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="LogDir" value="${specialfolder:folder=LocalApplicationData}/YtlDigabi/logs/"/>
  <variable name="LogDay" value="${date:format=dd.MM.yyyy}"/>
  <targets>
    <target name="rollingFile" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${LogDir}abittiusb.log"
        archiveFileName="${LogDir}abittiusb.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Date"
        maxArchiveFiles="7"
        concurrentWrites="true" />   
    <target name="console" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="rollingFile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>